@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pixel-Art Regular';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/pixelart.woff') format('woff');
}

@font-face {
  font-family: 'bubble';
  src: url('assets/fonts/bubble.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pixel';
  src: url('assets/fonts/pixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Refactor into a styled component and tailwind */

.map span {
  top: 52%;
  left: 23%;
  animation: highlight 1.5s linear infinite;
}

@keyframes highlight {
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.map .marker2 {
  left: 99%;
  top: 66%;
  animation-delay: 0.5s;
}
.map .marker3 {
  left: 70%;
  top: 77%;
  animation-delay: 1s;
}
.map .marker4 {
  left: 39%;
  top: 62%;
  animation-delay: 0.7s;
}
